TELEGRAM_BOT_TOKEN=DEIN_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=6189257394
MIN_ALERT_RATING=8.4
MIN_PREFILTER_RATING=7.5
COOLDOWN_MINUTES=30
TOP_MARKETS_LIMIT=10
ENABLE_NEWS_ENGINE=true
NEWS_SCAN_SECONDS=600
NEWS_RSS_URLS=https://www.forexlive.com/feed/news
ENABLE_CALENDAR_ENGINE=true
CALENDAR_SCAN_SECONDS=900
CALENDAR_RSS_URLS=https://nfs.faireconomy.media/ff_calendar_thisweek.xml
TRADE_MANAGER_ALERTS=true
CALENDAR_BLOCK_MINUTES_BEFORE=30
CALENDAR_BLOCK_MINUTES_AFTER=15
